<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joaomarcos.beautysalon">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/avatar_1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/avatar_1"
        android:supportsRtl="true"
        android:theme="@style/Theme.BeautySalon">
        <activity
            android:name=".Loading"
            android:exported="false" />
        <activity
            android:name=".pesquisa.Maquiagem"
            android:exported="false" />
        <activity
            android:name=".pesquisa.Depilacao"
            android:exported="false" />
        <activity
            android:name=".pesquisa.Massagem"
            android:exported="false" />
        <activity
            android:name=".pesquisa.Cabeleireiro"
            android:exported="false" />
        <activity
            android:name=".pesquisa.LimpezaPele"
            android:exported="false" />
        <activity
            android:name=".pesquisa.ManicurePedicure"
            android:exported="false" />
        <activity
            android:name=".clientes.LoveEmpresa"
            android:exported="false" />
        <activity
            android:name=".empresa.ProfileEmpresa"
            android:exported="false" />
        <activity
            android:name=".clientes.Search"
            android:exported="false" />
        <activity
            android:name=".clientes.ProfileCliente"
            android:exported="false" />
        <activity
            android:name=".empresa.HomeEmpresa"
            android:exported="false" />
        <activity
            android:name=".clientes.HomeCliente"
            android:exported="false" />
        <activity
            android:name=".empresa.FormCadastroEmpresa"
            android:exported="false" />
        <activity
            android:name=".clientes.FormCadastroCliente"
            android:exported="false" />
        <activity
            android:name=".empresa.FormLoginEmpresa"
            android:exported="false" />
        <activity
            android:name=".clientes.FormLoginCliente"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>